@import "tailwindcss";

/* Tus estilos custom */
body {
  @apply bg-slate-50 text-slate-800 antialiased;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}